<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chace DeLoach</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
    <link href="../public/css/main.min.css" rel="stylesheet">
    <script src="../public/js/nav.js" defer></script>
</head>

<body>
    <header>

        <div class="menu-btn">
            <span class="menu-btn-burger"></span>
        </div>

        <nav class="nav">
            <ul class="menu-nav">
                <li class="menu-nav-item menu-nav-info">
                    Chace DeLoach
                </li>
                <li class="menu-nav-item">
                    <a class="menu-nav-link" href="#about">About Me</a>
                </li>
                <li class="menu-nav-item">
                    <a class="menu-nav-link" href="#experience">Experience</a>
                </li>
                <li class="menu-nav-item">
                    <a class="menu-nav-link" href="#skills">Skills</a>
                </li>
                <li class="menu-nav-item">
                    <a class="menu-nav-link" href="#contact">Contact Me</a>
                </li>
                <li class="menu-nav-item menu-nav-info">
                    <a class="link" href="mailto:Shinobi2233@yahoo.com">Shinobi2233@yahoo.com</a>
                </li>
            </ul>
        </nav>
        
    </header>

    <section id="hero">
        <h1>Chace DeLoach</h1>
    </section>

    <section id="about" class="py-40">
        <div class="container text-center">
            <h1 class="border-b">About Me</h1>
            <div>
                <p>
                    All developers are familiar with the program "Hello World!", but for me, writing it started a passion with programming.
My passion was strong enough to lead me to change careers from corrections to pursuing a position as a software developer.
I find it to be challenging, maybe even frustrating at times, yet highly rewarding. It is something I think about constantly and try to incorporate into my everyday life. 
The more I learn about software development, the more I love.
                </p>
                <p>
                    Below you'll find projects I've completed that showcase my skills and general background in
                    developing software.
                </p>
            </div>
        </div>
    </section>

    <section id="experience" class="py-40">
        <div class="container">
            <h1 class="text-center border-b">Experience</h1>
            <div>
                <h3>The Ripple Effect</h3><span>(<a class="link" href="https://www.github.com/Shinobi583/Blog">GitHub: Blog Code</a>)</span>
                <span>(<a class="link" href="https://therippleeffect.herokuapp.com/">Site: The Ripple Effect</a>)</span>
                <p>
                    Built with no CMS or Front-End Framework, The Ripple Effect is my personal blog site. It is a Full-Stack application
                    using Nodejs that connects to a database(MongoDB), utilizes Authentication, and follows the MVC architecture.
                    <br>
                    Currently, I'm using a free tier of Heroku to host. This means that if there is no activity on the website for
                    30 minutes, it will take a few extra seconds to load the website for the first time. After that, it will run like normal.
                </p>
            </div>

            <div>
                <h3>FancyTab</h3><span>(<a class="link" href="https://www.github.com/Shinobi583/FancyTab">GitHub: FancyTab</a>)</span>
                <span>(<a class="link" href="https://chrome.google.com/webstore/detail/fancytab/ifnigpaecfaalfcglnbnjdnnhaebfeae?hl=en&authuser=0">Chrome Store: FancyTab</a>)</span>
                <p>
                    A chrome extension that allows for a fancier version of a new tab!
                    Change the tab's background, your name, view your city's weather, view your recent pages, and search using DuckDuckGo!
                    <br>
                    <strong>The Chrome Store version does not use the weather API due to the API key being registered under a free license for demonstration purposes.</strong>
                    <br>
                    If you would still like to try it out with the weather, follow the instructions in the Readme <a class="link" href="https://www.github.com/Shinobi583/FancyTab">here</a>.
                </p>
            </div>

            <div>
                <h3>Jargon-Translator</h3><span>(<a class="link" href="https://github.com/Shinobi583/Jargon-Translator">GitHub:
                        Jargon-Translator</a>)</span>
                <p>
                    The Jargon-Translator is a chrome extension meant to help lessen the confusion when reading
                    Documentation, Articles, or anything related to Computer Science.
                </p>
            </div>

            <div>
                <h3>Calculator</h3><span>(<a class="link" href="https://github.com/Shinobi583/Calculator">GitHub: Calculator</a>)</span>
                <p>
                    A basic Calculator application that I created using vanilla JavaScript to perform the functions of a calculator.
                </p>
            </div>
        </div>
    </section>

    <section id="skills" class="py-40">
        <div class="container">
            <h1 class="text-center border-b">Skills</h1>
            <div class="row">
                <a id="html5" class="text-center skill" href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">
                    HTML5
                </a>
                <a id="css3" class="text-center skill" href="https://developer.mozilla.org/en-US/docs/Web/CSS">
                    CSS3
                </a>
                <a id="js" class="text-center skill" href="https://developer.mozilla.org/en-US/docs/Web/javascript">
                    JavaScript
                </a>
                <a id="mysql" class="text-center skill" href="https://www.mysql.com">
                    SQL/MySQL
                </a>
                <a id="github" class="text-center skill" href="https://github.com">
                    Git/GitHub
                </a>
            </div>
        </div>
    </section>

    <section id="contact" class="text-center py-40">
        <div class="container">
            <h1 class="border-b">Contact Me</h1>
            <ul>
                <li class="mr-15"><a href="https://www.linkedin.com/in/chace-deloach-3a4ab11b1/"><i class="fab fa-linkedin fa-3x"></i></a></li>
                <li class="mr-15"><a href="https://twitter.com/chacedeloach"><i class="fab fa-twitter-square fa-3x"></i></a></li>
                <li><a href="https://github.com/Shinobi583"><i class="fab fa-github fa-3x"></i></a></li>
            </ul>
            <div>
                <strong>Email: </strong><a class="link" href="mailto:Shinobi2233@yahoo.com">Shinobi2233@yahoo.com</a>
            </div>
        </div>
    </section>
</body>

</html>